# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LibApp.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Dawid\Documents\libcopia2\LibApp\src\.idea\.idea.LibApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
