<div class="modal-header">
  <h4 class="modal-title">Edit {{volumeInfo.title}}</h4>
</div>
<div class="modal-body">
  <form [formGroup]="editForm" (ngSubmit)="edit()">
    <app-text-input [formControl]="editForm.controls['title']"
                    [label]="'Title'"></app-text-input>
<!--    Authors -->
    <ng-container>
      <div *ngFor="let category of authors?.controls; let i = index; let first = first;" formArrayName="authorsNames">
        <div *ngIf="first" class="mb-3 mt-3 border-bottom">
          <h4 [class.font-weight-normal]="! isRequiredField(authors)">Authors</h4>
        </div>
        <div class="row">
          <div class="col-md-9">
            <app-text-input [formControl]="authors.controls[i]"
                            [label]="'Author'"></app-text-input>
          </div>
          <div class="col-md-3 d-flex align-items-center">
            <button type="button"
                    class="btn btn-danger mb-3 mt-md-3  mb-md-0"
                    (click)="removeFormControlFromArray(i, authors)">Remove</button>
          </div>
        </div>
      </div>
      <div class="mt-2 mb-4">
        <button type="button"
                class="btn btn-primary mt-2 d-block"
                (click)="insertFormControlToArray(authors, bookFieldsSettings.author)">Add new author</button>
      </div>
    </ng-container>

<!--    Categories -->
    <ng-container>
      <div *ngFor="let category of categories?.controls; let i = index; let first = first;"
           formArrayName="categoriesNames">
        <div *ngIf="first" class="mb-3 mt-3 border-bottom">
          <h4 [class.font-weight-normal]="! isRequiredField(categories)">Categories</h4>
        </div>
        <div class="row">
          <div class="col-md-9">
            <app-text-input [formControl]="categories.controls[i]"
                            [label]="'Category'"></app-text-input>
          </div>
          <div class="col-md-3 d-flex align-items-center">
            <button type="button"
                    class="btn btn-danger mb-3 mt-md-3  mb-md-0"
                    (click)="removeFormControlFromArray(i, categories)">Remove</button>
          </div>

        </div>

      </div>
      <div class="mt-2 mb-4">
        <button type="button"
                class="btn btn-primary d-block"
                (click)="insertFormControlToArray(categories, bookFieldsSettings.categories.name)">Add new category</button>
      </div>
    </ng-container>

    <app-number-input [formControl]="editForm.controls['pageCount']"
                    [label]="'Page Count'"></app-number-input>
    <app-text-input [formControl]="editForm.controls['languageName']"
                    [label]="'language'"></app-text-input>
    <app-text-input [formControl]="editForm.controls['isbn10']"
                    [label]="'isbn10'"></app-text-input>
    <app-text-input [formControl]="editForm.controls['isbn13']"
                    [label]="'isbn13'"></app-text-input>
    <app-text-input [formControl]="editForm.controls['publisherName']"
                    [label]="'publisher'"></app-text-input>

    <div class="form-group">
      <label
        [class.font-weight-bold]="isRequiredField(editForm.controls['publishedDate'])"
        class="text-capitalize">published date</label>
      <input type="text"
             formControlName="publishedDate"
             placeholder="Published Date"
             class="form-control"
             bsDatepicker [bsConfig]="{containerClass: 'theme-dark-blue'}">
    </div>

    <!-- Visibility-->
    <div class="form-group">
      <label class="text-capitalize d-block">Visibility</label>
      <div class="form-check form-check-inline">
        <input type="radio" [formControl]="editForm.controls['visibility']"
               id="visible"
               [value]="true"
               class="form-check-input"
               checked>
        <label class="form-check-label text-capitalize"
               for="visible">Visible</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" [formControl]="editForm.controls['visibility']"
               id="hidden"
               [value]="false"
               class="form-check-input">
        <label class="form-check-label text-capitalize"
               for="hidden">hidden</label>
      </div>
    </div>
    <!--# Visibility-->
    <div class="form-group">
      <label
        [class.font-weight-bold]="isRequiredField(editForm.controls['description'])"
        class="text-capitalize">description
      </label>

      <!-- Description-->
      <quill-editor
        [formControl]="editForm.controls['description']"
        [minLength]="bookFieldsSettings.description.minLength"
        [maxLength]="bookFieldsSettings.description.maxLength"
        [required]="bookFieldsSettings.description.required"
        (onEditorChanged)="$event"></quill-editor>

      <div *ngIf="editForm.controls['description'].errors?.requiredError"
           class="invalid-feedback d-block">
        <span class="text-capitalize">Description</span> field is required
      </div>
      <div *ngIf="editForm.controls['description'].errors?.minLengthError"
           class="invalid-feedback d-block">
        <span class="text-capitalize">Description</span> must be at least {{editForm.controls['description'].errors?.minLengthError['minLength']}} characters
      </div>
      <div *ngIf="editForm.controls['description'].errors?.maxLengthError"
           class="invalid-feedback d-block">
        <span class="text-capitalize">Description</span> must be at most {{editForm.controls['description'].errors?.maxLengthError['maxLength']}} characters
      </div>
    </div>
    <!--# Description-->

    <!-- Description-->
    <app-file-uploader [uploaderStyle]="uploaderStyle"
                       [uploader]="uploader"
                       [isMultipleBtnEnabled]="false">
    </app-file-uploader>



  </form>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-default"
          (click)="bsModalRef.hide()">Cancel</button>
  <button type="submit"
          class="btn btn-primary"
          [disabled]="editForm.invalid"
          (click)="edit()">Add</button>
</div>
