<div class="modal-header">
  <h4 class="modal-title">Delete Book from Basket</h4>
</div>
<div class="modal-body">
  <form #editForm="ngForm">
    <div class="form-group">
      <label
        class="text-capitalize font-weight-bold">Confirm Removal: </label>
      <input
        type="text"
        [(ngModel)]="insertedEan"
        name="confirmRemoval"
        class="form-control"
        placeholder="Insert Book EAN">
    </div>
  </form>
  <div *ngIf="insertedEan != requiredConfirmEan">
    <p class="text-danger">Inserted wrong Ean</p>
  </div>
</div>

<div class="modal-footer">
  <button type="button"
          class="btn btn-default"
          (click)="bsModalRef.hide()">Cancel</button>
  <button type="submit"
          class="btn btn-primary"
          (click)="delete()"
          [disabled]="editForm.invalid || insertedEan != requiredConfirmEan">Confirm</button>
</div>
