<!-- Sidebar -->
<div class="border-right" id="sidebar-wrapper">

  <!-- Logo-->
  <div class="text-white text-center sidebar-heading mb-4">
    <a [routerLink]="['/home']">
      <img class="img-fluid" src="{{logoImgSrc}}" alt="Logo Image">
    </a>
  </div>
  <!-- /#Logo-->

  <!-- UserName-->
  <!--  TODO: get user name from service !!!-->
  <div class="text-white mb-4" id="sidebar-user-heading">
    <span>Hello <b>{{userNamePlaceholder}}</b></span>
  </div>
  <!-- /#UserName-->


  <!--  Customer-Service-->
  <div class="mb-3">
    <div class="text-white sidebar-section-header m-2 p-1 pl-3">Customer Service</div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action "><i class="fa fa-users mr-1"></i> Manage Users Accounts</a>
      <a href="#" class="list-group-item list-group-item-action "><i class="fa fa-shopping-basket mr-1"></i> Book Borrowing Service</a>
      <a href="#" class="list-group-item list-group-item-action "><i class="fa fa-user-slash mr-1"></i> Debtor Management</a>
      <a href="#" class="list-group-item list-group-item-action "><i class="fa fa-file-alt ml-1 mr-2"></i> Manage Borrowed Books</a>
    </div>
  </div>
  <!-- /#Customer-Service -->

  <!--  Manage-Library-->
  <div class="mb-3">
    <div class="text-white sidebar-section-header m-2 p-1 pl-3">Manage Library</div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action " [routerLink]="['/book']" ><i class="fa fa-users mr-1"></i> Manage Books</a>
      <a href="#" class="list-group-item list-group-item-action "><i class="fa fa-ruler-vertical ml-1 mr-2"></i> Manage Bookshelfs</a>
      <a href="#" class="list-group-item list-group-item-action "><i class="fa fa-paperclip mr-2"></i> Manage Book Relations</a>
      <a href="#" class="list-group-item list-group-item-action "><i class="fa fa-box-open mr-2"></i> Delivery</a>
      <a href="#" class="list-group-item list-group-item-action "><i class="fa fa-pencil-alt mr-2"></i> Reviews</a>
      <a href="#" class="list-group-item list-group-item-action "><i class="fa fa-barcode mr-2"></i> Assign Books</a>
      <a href="#" class="list-group-item list-group-item-action "><i class="fa fa-print mr-2"></i> Print Barcodes</a>
      <a href="#" class="list-group-item list-group-item-action "><i class="fa fa-money-bill mr-2"></i> Paymenmt Preview</a>
      <a href="#" class="list-group-item list-group-item-action "><i class="fa fa-file-export mr-2"></i> Import/Export</a>

    </div>
  </div>
  <!-- /#Manage-Library -->

  <!--  Library-Settings-->
  <div class="mb-3">
    <div class="text-white sidebar-section-header m-2 p-1 pl-3">Library Settings</div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action "><i class="fa fa-bell mr-2"></i> Notifications Configuration</a>
      <a href="#" class="list-group-item list-group-item-action "><i class="fa fa-columns mr-2"></i> Public Site Configuration</a>
      <a href="#" class="list-group-item list-group-item-action "><i class="fa fa-cogs mr-2"></i> System Settings</a>
      <a href="#" class="list-group-item list-group-item-action "><i class="fa fa-user-tie mr-2"></i> Manage Employee Accounts</a>
    </div>
  </div>
  <!-- /#Library-Settings -->

  <!--  Account-->
  <div class="mb-3">
    <div class="text-white sidebar-section-header m-2 p-1 pl-3">Account</div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action "><i class="fa fa-key mr-2"></i> Change Password</a>
      <a href="#" class="list-group-item list-group-item-action "><i class="fa fa-sign-out-alt mr-2"></i> Logout</a>
    </div>
  </div>
  <!-- /#Account -->

</div>
<!-- /#sidebar-wrapper -->
