<ngx-spinner *ngIf="isAdding$ |async" [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
  <h3 style="color: white">Adding...</h3>
</ngx-spinner>

<div class="mb-5 mt-4 border-bottom">
  <h1 class="display-4">Add new book</h1>
</div>
<div class="text-right">
  <button class="btn btn-primary" [routerLink]="['/book']" >Back to book list page</button>
</div>
<div>
  <tabset>
    <tab heading="Adding Using Different Source" id="tab1"><app-book-api-add
      [booksFromSearch]="booksFromSearch$ | async"
      (searchEvent)="searchBooks($event.searchValue, $event.searchParam)"></app-book-api-add>
      <app-book-api-search-result [books]="booksFromSearch$ | async"></app-book-api-search-result>
    </tab>
    <tab heading="Manual Adding"><app-book-manual-add
      [categories]="categories$ | async"
      [languages]="languages$ | async"
      [authors]="authors$ | async"
      [publishers]="publishers$ | async"
      [uploaderOptions]="uploaderOptions"
      [uploaderStyle]="uploaderStyle" (createBookEvent)="addBook($event)"></app-book-manual-add>
    </tab>
  </tabset>
</div>


