
<div *ngIf="bookSearchFilters" class="row">
  <div class="">
    <div [class.filter-remove-border]="isModificationDatePosition(j)"
         class="mb-3 pb-2 filter-apply-border"
         *ngFor="let filter of bookSearchFilters; let j = index">
      <div class="w-100">
        <div [class.filter-apply-border]="isModificationDatePosition(j)"
             [class.pb-2]="isModificationDatePosition(j)"
             class="mb-3"
             *ngIf="isModificationDatePosition(j)">
          <div class="filter-header text-capitalize font-weight-bold p-2">{{modificationDateFilter.name}}</div>
          <div class="container p-2">
            <input type="text"
                   placeholder="Daterangepicker"
                   class="form-control"
                   [(ngModel)]="modificationDateFilter.value"
                   bsDaterangepicker>
          </div>


        </div>
        <div [class.filter-apply-border]="isModificationDatePosition(j)"
             [class.pb-2]="isModificationDatePosition(j)">
          <div class="filter-header text-capitalize font-weight-bold p-2">{{filter.name}}</div>
          <div class="container" *ngFor="let bucket of filter?.buckets; let i = index; let last = last">


            <div  *ngIf="isBelowMaxInitialBuckets(i) else more_content_btn" class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="below-{{j}}-{{i}}">
              <label class="form-check-label" for="below-{{j}}-{{i}}">
                {{bucket.key}} ({{bucket.count}})
              </label>
            </div>


            <div *ngIf="isAboveMaxInitialBuckets(i) && filter.moreClicked" class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="above-{{j}}-{{i}}">
              <label class="form-check-label" for="above-{{j}}-{{i}}">
                {{bucket.key}} ({{bucket.count}})
              </label>
            </div>

            <ng-template #more_content_btn>
              <div *ngIf="! filter.moreClicked">
                <a [routerLink]=""
                   queryParamsHandling="preserve"
                   (click)="filter.moreClicked = true">more >
                </a>
              </div>
            </ng-template>

            <div *ngIf="last && filter.moreClicked">
              <a [routerLink]=""
                 queryParamsHandling="preserve"
                 (click)="filter.moreClicked = false">less <</a>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

