<div class="container border mt-5">
  <form [formGroup]="manualBookAddForm"
        (ngSubmit)="onSubmitBook()"
        class="m-5">

    <app-text-input [formControl]='manualBookAddForm.controls["title"]'
                    [label]='"Title"'></app-text-input>
    <div class="form-group">
      <label
        [class.font-weight-bold]="isRequiredField(manualBookAddForm.controls['authorId'])"
        class="text-capitalize">author</label>
      <ng-select
        formControlName="authorId"
        [items]="authors"
        bindLabel="fullName"
        bindValue="id"
        placeholder="Select Author"
      ></ng-select>
    </div>

    <div class="form-group">
      <label
        [class.font-weight-bold]="isRequiredField(manualBookAddForm.controls['categoriesIds'])"
        class="text-capitalize">categories</label>
      <ng-select
        formControlName="categoriesIds"
        [items]="categories"
        [multiple]= true
        bindLabel="name"
        bindValue="id"
        placeholder="Select Categories"
      ></ng-select>
    </div>

    <div class="form-group">
      <label
        [class.font-weight-bold]="isRequiredField(manualBookAddForm.controls['languageId'])"
        class="text-capitalize">language</label>
      <ng-select
        formControlName="languageId"
        [items]="languages"
        bindLabel="name"
        bindValue="id"
        placeholder="Select Language"
      ></ng-select>
    </div>

    <div class="form-group">
      <label
        [class.font-weight-bold]="isRequiredField(manualBookAddForm.controls['publisherId'])"
        class="text-capitalize">publisher</label>
      <ng-select
        formControlName="publisherId"
        [items]="publishers"
        bindLabel="name"
        bindValue="id"
        placeholder="Select Publisher"
      ></ng-select>
    </div>

    <div class="form-group">
      <label
        [class.font-weight-bold]="isRequiredField(manualBookAddForm.controls['publishedDate'])"
        class="text-capitalize">published date</label>
      <input type="text"
             formControlName="publishedDate"
             placeholder="Published Date"
             class="form-control"
             bsDatepicker [bsConfig]="{containerClass: 'theme-dark-blue'}">
    </div>

    <app-number-input [formControl]='manualBookAddForm.controls["pageCount"]'
                    [label]='"Page Count"'></app-number-input>

    <app-text-input [formControl]='manualBookAddForm.controls["isbn10"]'
                    [label]='"ISBN10"'></app-text-input>
    <app-text-input [formControl]='manualBookAddForm.controls["isbn13"]'
                    [label]='"ISBN13"'></app-text-input>

    <!-- Visibility-->
    <div class="form-group">
      <label class="text-capitalize d-block">Visibility</label>
      <div class="form-check form-check-inline">
        <input type="radio" [formControl]="manualBookAddForm.controls['visibility']"
          id="visible"
          [value]="true"
          class="form-check-input"
          checked>
        <label class="form-check-label text-capitalize"
               for="visible">Visible</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" [formControl]="manualBookAddForm.controls['visibility']"
               id="hidden"
               [value]="false"
               class="form-check-input">
        <label class="form-check-label text-capitalize"
               for="hidden">hidden</label>
      </div>
    </div>
    <!--# Visibility-->

    <div class="form-group">
      <label
        [class.font-weight-bold]="isRequiredField(manualBookAddForm.controls['description'])"
        class="text-capitalize">description
      </label>

    <!-- Description-->
      <quill-editor
        [formControl]="manualBookAddForm.controls['description']"
        [minLength]="bookFieldsSettings.description.minLength"
        [maxLength]="bookFieldsSettings.description.maxLength"
        [required]="bookFieldsSettings.description.required"
        (onEditorChanged)="$event"></quill-editor>

      <div *ngIf="manualBookAddForm.controls['description'].errors?.requiredError"
           class="invalid-feedback d-block">
        <span class="text-capitalize">Description</span> field is required
      </div>
      <div *ngIf="manualBookAddForm.controls['description'].errors?.minLengthError"
           class="invalid-feedback d-block">
        <span class="text-capitalize">Description</span> must be at least {{manualBookAddForm.controls['description'].errors?.minLengthError['minLength']}} characters
      </div>
      <div *ngIf="manualBookAddForm.controls['description'].errors?.maxLengthError"
           class="invalid-feedback d-block">
        <span class="text-capitalize">Description</span> must be at most {{manualBookAddForm.controls['description'].errors?.maxLengthError['maxLength']}} characters
      </div>
    </div>
    <!--# Description-->

    <!-- uploader-->
    <app-file-uploader
      [uploader]="uploader"
      [uploaderStyle]="uploaderStyle"></app-file-uploader>
    <!-- #uploader-->

    <div class="form-group row">
      <div class="col-6">
        <button [disabled]="manualBookAddForm.invalid" class="btn btn-primary w-100" type="submit">Create book</button>
      </div>

      <div class="col-6">
        <button class="btn btn-default w-100" type="button">Cancel</button>
      </div>
    </div>
  </form>

</div>
