<div class="container">
  <form [formGroup]="manualBookAddForm"
        (ngSubmit)="onSubmitBook()"
        class="m-5">

    <app-text-input [formControl]='manualBookAddForm.controls["title"]'
                    [label]='"Title"'></app-text-input>
    <div class="form-group">
      <label class="text-capitalize font-weight-bold">author</label>
      <ng-select
        formControlName="author"
        [items]="authors"
        bindLabel="fullName"
        bindValue="id"
        placeholder="Select Author"
      ></ng-select>
    </div>

    <app-number-input [formControl]='manualBookAddForm.controls["pageCount"]'
                    [label]='"Page Count"'></app-number-input>
    <app-text-input [formControl]='manualBookAddForm.controls["languageName"]'
                    [label]='"Language"'></app-text-input>
    <app-text-input [formControl]='manualBookAddForm.controls["isbn10"]'
                    [label]='"ISBN10"'></app-text-input>
    <app-text-input [formControl]='manualBookAddForm.controls["isbn13"]'
                    [label]='"ISBN13"'></app-text-input>
    <app-text-input [formControl]='manualBookAddForm.controls["publisherName"]'
                    [label]='"Publisher Name"'></app-text-input>
    <app-text-input [formControl]='manualBookAddForm.controls["publishedDate"]'
                    [label]='"Published Date"'></app-text-input>
    <app-text-input [formControl]='manualBookAddForm.controls["publicSiteLink"]'
                    [label]='"Public Site Link"'></app-text-input>
  </form>
  {{categories | json}}
  <br><br>
  {{languages | json}}
  <br><br>
  {{authors | json}}
  <br><br>
  {{publishers | json}}


</div>
