<div class="modal-header">
  <h4 class="modal-title">Edit Items Count for: {{item.title}}(EAN: {{item.ean13}})</h4>
</div>
<div class="modal-body">
  <form #editForm="ngForm" (ngSubmit)="edit()">
    <div class="form-group">
      <label
        class="text-capitalize font-weight-bold">Items Count:</label>
      <input
        type="number"
        [(ngModel)]="currItemsCount"
        name="currItemsCount"
        class="form-control"
        placeholder="Insert Items Count">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-default"
          (click)="bsModalRef.hide()">Cancel</button>
  <button type="submit"
          class="btn btn-primary"
          [disabled]="editForm.invalid"
          (click)="edit()">Save</button>
</div>
